:root {
    --primary:#dcdcdc ;
    --primary-light:#EAEAEA;
    --primary-dark:#202020 ;
    --primary-dark2:#323232 ;
    --primary-darkM:#140000 ;
    --color-white: #efefef;


}

body{
    margin: 0;
    background-color: var(--primary-dark2);
}

.bann {
    width: 100vw;
    height: 120px;
    background-color: var(--primary-dark);


}

.img-Ra {
    max-width: 100%;
    max-height: 80%;
    margin: 30px 12px 0px 30px ;
}