body {
    height: 100dvh;
    background-color: white; 
    
}

main {
    padding: 50px;
}

.lista-carros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
    padding: 15px;
}

.catalogo h2 {
    font-size: 15px; 
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid var(--primary-dark);
    border-radius: 8px;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 2 10px 2px rgba(7, 7, 7, 0.873);    
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

.title-div-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.titulo {
    color: red;
}