* {
    --primary-color: #FFC300;
    --primary-color-light: #FFD60A;
    --secundary-color: #003566;
    --secundary-color-dark: #001D3D;
    --background-color-dark: #000814;
    --light: #EFEFEF;
    --shadow-elevated: inset 0px -10px 0px 5px rgba(0, 0, 0, 0.25);
    --shadow-down: inset 0px 10px 0px 5px rgba(0, 0, 0, 0.25);
    --font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin: 0;
}

header {
    background-color: var(--secundary-color);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    box-shadow: var(--shadow-elevated);
}

header .logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header .navigation-pill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 10px 0;
}

header .navigation-pill-list li {
    list-style: none;
    margin: 5px 10px;
}

header .navigation-pill-list li a {
    text-decoration: none;
    color: var(--light);
}

header .navigation-pill-list li a:hover {
    color: var(--primary-color);
}

header .divRegLog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

header .divRegLog .btn {
    background-color: var(--primary-color);
    color: var(--light);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    margin: 5px; 
}


footer {
    background-color: var(--secundary-color);
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--light);
    box-shadow: var(--shadow-elevated);
}

footer > * {
    margin: 10px;
}