
*{
    font-family: 'Poppins' ,sans-serif;
}

main {
    background-color: white;
}

.section-1 {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 60px;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-left: 5dvw;
}

.Title1 {
    color: white;
    font-size: 44px;
}

.Title1 h1 {
    margin-bottom: 0;
}

.subtitle1 {
    color: white;
    font-size: 20px;
    width: 60%;
}

.carros-button {
    margin-top: 20px;
    text-decoration: none;
}

.carros-button a {
    text-decoration: none;
    color: var(--primary-dark2);
}

#ex-carros-btn {
    border: none;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#ex-carros-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.velocimetro-div {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.velocimetro-div img {
    width: 40dvw;
}

aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: black;
}

.pesquisa {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pesquisar-carro {
    width: 100%;
    margin-inline: 5dvw;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
    border: none;
}

#pesquisar-carro::placeholder {
    color: #aaa;
}

.marcas-de-carros {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.carros-populares {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container {
    position: relative;
    text-align: center;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 24px;
    font-weight: bold;
}

.ver-todos {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.carrossel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    position: relative;
    overflow:auto;
    margin: 0;
}

.carrossel-content {
    display: flex;
    overflow: auto;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.marca-item {
    min-width: 25dvw;
    height: 20dvh;
    margin: 0 15px;
    transition: transform 0.3s;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marca-item img {
    width: 100%;
    max-width: 100px;
    height: auto;
    display: block;
    padding: 10px;
    background-color: #fff;
}

.manutencao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    gap: 20px;
    background-color: var(--color-white);
}

.texto {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mega-txt {
    font-size: 30px;
    display: left;
    position: relative;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0px;

}

.mega-txt h1 {
    margin: 0;
    width: 430px;
}

.text-nrm {
    margin: 0;
    margin-left: 5px;
    font-size: 15px;
}

.text-nrm p{
    color: var(--primary-dark2);
    padding-right: 60px;
}

.img-oleo {
    position: relative;
    width: 100vw; /* Preencher toda a largura da viewport */
    height: 100vh; /* Preencher toda a altura da viewport */
    overflow: hidden; /* Garantir que o conteúdo extra seja ocultado */
  }
  
  .img-oleo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobrir a seção sem distorcer a imagem */
    object-position: center; /* Centralizar a imagem */
    display: block;
  }

.btn-saiba {
    margin-top: 40px;
}

.btn-saiba button {
    font-size: 20px;       /* Aumenta o tamanho do texto */
    padding: 20px 30px;    /* Adiciona espaço extra dentro do botão */
    background-color: var(--color-white); /* Cor de fundo */
    color: var(--primary-dark);           /* Cor do texto */
    border: 1px solid black;           /* Remove a borda */
    border-radius: 5px;     
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn-saiba button:hover {
    background-color: white;
}

.carro-card {
    display: flex;
    flex-direction: column; /* Para que o conteúdo seja empilhado verticalmente */
    justify-content: start;
    align-items: center;
    width: 25vw;
    height: auto; /* Deixar o height ajustável */
    margin: 5px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: start;
    transition: transform 0.2s ease;
    cursor: pointer;
    max-width: 30vw;
    min-width: 200px;
    padding: 5px; /* Espaçamento interno para garantir uma melhor visualização */
}
.carro-card:hover {
    transform: scale(1.01);
}

.vehicle-card-info {
    padding: 15px;
}

.vehicle-marca-nome {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.vehicle-marca-nome .title-name {
    color: red;
}

.vehicle-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.vehicle-card h2 {
    margin-top: 0;
    color: #000000;
    font-size: 1.2em;
}

.vehicle-card p {
    color: #666666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;    margin-bottom: 10px;
}

@media (max-width: 800px) {

    .manutencao {
        flex-direction: column;
    }

    .velocimetro-div {
        display: none;
    }

}