:root {
    --primary:#dcdcdc ;
    --primary-light:#EAEAEA;
    --primary-dark:#202020 ;
    --primary-dark2:#323232 ;
    --primary-darkM:#140000 ;
    --color-white: #efefef;


}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    transition: all 0.3s ease;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    height: 100dvh;
    width: 100%;
}

.logo {
    margin: 5px;
}

.logo img {
    height: auto;
    width: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 20px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.login-reg-div {
    display: flex;
    gap: 10px;
}

#botaoLogin {
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#botaoLogin:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

#botaoRegistro {
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#botaoRegistro:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.section-1 {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 60px;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-left: 5dvw;
}

.Title1 {
    color: white;
    font-size: 44px;
}

.subtitle1 {
    color: white;
    font-size: 20px;
    width: 60%;
}

.carros-button {
    margin-top: 20px;
}

#ex-carros-btn {
    border: none;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#ex-carros-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.velocimetro-div {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.velocimetro-div img {
    width: 40dvw;
}

aside {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: black;
}

.pesquisa {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pesquisar-carro {
    width: 100%;
    margin-inline: 5dvw;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    background-color: #f9f9f9;
    color: #333;
    border: none;
}

#pesquisar-carro::placeholder {
    color: #aaa;
}

.marcas-de-carros {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.carros-populares {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container {
    position: relative;
    text-align: center;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 24px;
    font-weight: bold;
}

.ver-todos {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.carrossel {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    overflow:auto;
    margin: 0;
}

.carrossel-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.marca-item {
    min-width: 25dvw;
    height: 20dvh;
    margin: 0 15px;
    transition: transform 0.3s;
    border: 2px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marca-item img {
    width: 100%;
    max-width: 100px;
    height: auto;
    display: block;
    padding: 10px;
    background-color: #fff;
}

.carro-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    transition: transform 0.2s ease;
    cursor: pointer;
    margin: 5px;
    
}

.carro-card:hover {
    transform: scale(1.05);
}

.vehicle-card-info {
    padding: 15px;
}

.vehicle-marca-nome {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.vehicle-marca-nome .title-name {
    color: red;
}

.vehicle-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.vehicle-card h2 {
    margin-top: 0;
    color: #000000;
    font-size: 1.2em;
}

.vehicle-card p {
    color: #666666;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}