* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primary-dark);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
}

.log-section {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.log-Text {
    color: white;
    margin-left: 100px;
    font-size: large;
    height: 0;
}  

.log-subtitle p {
    margin-bottom: 0;
}

.reg-Link {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.login {
    display: flex;
    justify-content: right;
    position: relative;
    padding-right: 80px;
}

.log-table {
    background-color: var(--primary-darkM);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    width: 300px;
}

.log-table::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-image: repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.05) 1px,
        transparent 1px
    ), 
    repeating-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05) 1px,
        transparent 1px
    );
    background-size: 20px 20px;
    opacity: 0.15;
    border-radius: 12px;
    z-index: -1;
}

.log-table div {
    margin-bottom: 15px;
}

.log-table p {
    color: #fff;
    margin-bottom: 5px;
}

.log-table input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.log-table a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.sign-button {
    border: 0;
    font-size: medium;
    height: 50px;
    width: 260px;
    border-radius: 5px;
}

